body {
	background-image: url("../media/images/paper.png");
}
.panel {
	border: 1px solid #17a2b8;
	border-radius: 5px;
	margin-bottom: 1em;
	background-color: white;
}
.panel-header {
	background-color: #17a2b8;
	text-align: center;
	color: white;
}
.panel-content {
	margin: 1em;
}
.jumbotron {
	background-color: #17a2b8;
	color: white;
}
.article {
	display: flex;
	margin: 0.2em;
	padding: 0.5em;
	border-bottom: 1px solid gray;
}
.article-button {
	flex: 1;
	text-align: right;
}
.saved-article {
	margin: 0.2em;
	padding: 0.5em;
	border-bottom: 1px solid gray;
}
.btn-outline-success, .btn-outline-warning {
	background-color: white;
}
footer {
	background-color: #17a2b8;
	color: white;
}
.text-white {
	color: white;
}

/* sticky footer */
#root, html, body {
	height: 100%;
}
#content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}